<div class="whole-body">
    <div class="form-div">
        <h2 class="form-header">Register a Parking</h2>
        <form class="form" [formGroup]="vehicleForm" (submit)="onSubmit()">
              <div class="form-group">
                <label for="inputTitle" class="input-label"> Vehicle License Number</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Insert license no." formControlName="license">
              </div>
            <div class="form-group">
                <label for="type" class="input-label">Vehicle Type</label>
                <select formControlName="type">
                  <option>MicroBus </option>
                  <option>Car</option>
                  <option>Truck</option>
                </select>
              </div>
    
            <div class="form-group">
              <label for="name" class="input-label">Vehicle Owner Name</label>
              <input type="text" class="form-control" id="name" placeholder="insert owner's name" formControlName="owner_name">
            </div>
            <div class="form-group">
              <label for="phone" class="input-label">Vehicle Owner Phone</label>
              <input type="text" class="form-control" id="phone" placeholder="insert owner's phone number" formControlName="owner_phone">
            </div>
            <div class="form-group">
                <label for="status" class="input-label">Status</label>
                <select formControlName="status">
                  <option>In </option>
                  <option>Out</option>
                </select>
              </div>
            <div class="form-group">
              <label for="address" class="input-label">Car Owner Address</label>
              <input type="text" class="form-control" id="address" placeholder="insert owner's address" formControlName="car_owner_address">
            </div>
            <div class="form-group">
                <label for="entry" class="input-label">Time and date of car entry</label>
                <input type="datetime-local" class="form-control" id="entry" name="entry" placeholder="insert entry time" formControlName="entry_time">
            </div>
            <div class="form-group">
                <label for="exit" class="input-label">Time and date of car exit</label>
                <input type="datetime-local" class="form-control" id="exit" name="exit" placeholder="insert exit time" formControlName="exit_time">
            </div>
            <div class="form-group">
              <label for="charge" class="input-label">Parking Charge</label>
              <input type="number" class="form-control" id="charge" placeholder="insert parking charge" formControlName="parking_charge">
            </div>
            <button type="submit" class="btn btn-primary form-button">Submit</button>
          </form>
      </div>
    
      <div class="data-div">
        <div class="card-div">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Total parked</h3>
                  <h1 class="card-subtitle mb-2 card-text">{{parkedVehicles}}</h1>
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Total empty slot</h3>
                  <h1 class="card-subtitle mb-2 card-text">{{total_parking_slot-parkedVehicles}}</h1>
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Time over</h3>
                  <h1 class="card-subtitle mb-2 card-text">9</h1>
                </div>
              </div>
        </div>
        <div class="card-div">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Total cars</h3>
                  <h1 class="card-subtitle mb-2 card-text">{{cars.length}}</h1>
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Total Microbus</h3>
                  <h1 class="card-subtitle mb-2 card-text">{{microbuses.length}}</h1>
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title card-text">Total Truck</h3>
                  <h1 class="card-subtitle mb-2 card-text">{{trucks.length}}</h1>
                </div>
              </div>
        </div>
        <div class="table-div">
            <h2>Vehicles Information</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Owner Name</th>
                    <th scope="col">Vehicle Type</th>
                    <th scope="col">License No.</th>
                    <th scope="col">Entry time</th>
                    <th scope="col">Exit time</th>
                    <th scope="col">Status</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicles">
                    <th scope="row">{{ vehicle.owner_name}}</th>
                    <td>{{ vehicle.type}}</td>
                    <td>{{ vehicle.license}}</td>
                    <td>{{ vehicle.entry_time}}</td>
                    <td>{{ vehicle.exit_time}}</td>
                    <td>{{ vehicle.status}}</td>
                    <button type="button" class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(vehicle.id)">
                        Edit
                      </button>                  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Vehicles of {{oneVehicle?.owner_name}}</h3>
                            <form class="form" [formGroup]="updateForm" (submit)="update(this.oneVehicle?.id)">
                                <div class="form-group">
                                  <label for="inputTitle" class="input-label"> Vehicle License Number</label>
                                  <input type="email" class="form-control" id="inputEmail4" value="{{oneVehicle?.license}}" formControlName="license">
                                </div>
                              <div class="form-group">
                                  <label for="type" class="input-label">Vehicle Type</label>
                                  <select formControlName="type" value="{{oneVehicle?.type}}">
                                    <option>MicroBus </option>
                                    <option>Car</option>
                                    <option>Truck</option>
                                  </select>
                                </div>
                      
                              <div class="form-group">
                                <label for="name" class="input-label">Vehicle Owner Name</label>
                                <input type="text" class="form-control" id="name" value="{{oneVehicle?.owner_name}}" formControlName="owner_name">
                              </div>
                              <div class="form-group">
                                <label for="phone" class="input-label">Vehicle Owner Phone</label>
                                <input type="text" class="form-control" id="phone" value="{{oneVehicle?.owner_phone}}" formControlName="owner_phone">
                              </div>
                              <div class="form-group">
                                  <label for="status" class="input-label">Status</label>
                                  <select value="{{oneVehicle?.status}}" formControlName="status">
                                    <option>In </option>
                                    <option>Out</option>
                                  </select>
                                </div>
                              <div class="form-group">
                                <label for="address" class="input-label">Car Owner Address</label>
                                <input type="text" class="form-control" id="address" value="{{oneVehicle?.car_owner_address}}" formControlName="car_owner_address">
                              </div>
                              <div class="form-group">
                                  <label for="entry" class="input-label">Time and date of car entry</label>
                                  <input type="datetime-local" class="form-control" id="entry" name="entry" value="{{oneVehicle?.entry_time}}" formControlName="entry_time">
                              </div>
                              <div class="form-group">
                                  <label for="exit" class="input-label">Time and date of car exit</label>
                                  <input type="datetime-local" class="form-control" id="exit" name="exit" value="{{oneVehicle?.exit_time}}" formControlName="exit_time">
                              </div>
                              <div class="form-group">
                                <label for="charge" class="input-label">Parking Charge</label>
                                <input type="number" class="form-control" id="charge" value="{{oneVehicle?.parking_charge}}" formControlName="parking_charge">
                              </div>
                              <button type="submit" class="btn btn-primary form-button" data-bs-dismiss="modal">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                          <!-- <button type="submit" class="btn btn-primary form-button">Save changes</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                
                </tr>
                </tbody>
              </table>
        </div>
      </div>
</div>

