.whole-body{
    display: flex;
}


/* ................form-div................. */

.form-div{
    border-radius: 20px;
    margin: 30px 0;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 30vw;
}
.form{
    padding: 10px;
    gap: 50px;
}
.form-control{
    padding: 10px;
}
.form-group{
    margin: 30px 10px;
}
.form-button{
    border-color: rgb(53, 161, 243);
    background-color: rgb(53, 161, 243);
    width: 27.5vw;
    margin: 10px;
}
.form-header{
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}
.input-label{
    font-size: larger;
    font-weight: 700;
}

/* ................data-div................. */

.data-div{
    margin: 30px 0;
    margin-left: 30px;
    width: 60vw;
}
.table-div{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    /* border: 1px black solid; */
    border-radius: 20px;
}